@import 'components/mixins.scss';

.topbar {
  padding: 0 rem(15);
  min-height: 64px;
  height: 64px;
  background: $white;
  color: $text;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 5px;

  @media (max-width: $sm-max-width) {
    padding: 0 rem(16);
  }
}

.table {
  th {
    background-color: transparent !important;
  }
}

// dark theme
[data-kit-theme='dark'] {
  .topbar {
    background: $dark-gray-6;
    color: $dark-gray-1;
  }
}
