@import 'components/mixins.scss';

.banner {
  min-height: rem(200);
}

.desc {
  max-width: rem(800);
}

.skeleton {
  background: $white;
}

// dark theme
[data-kit-theme='dark'] {
  .skeleton {
    background: $dark-gray-4;
  }
}
