.header {
    top: 0;
    left: 0;
    height: 68px;
    width: 100vw;
    z-index: 10000;
    border-bottom: 1px solid #f4f6f9;
}

.header-logo {
    width: 36px;
    height: 36px;
}

.header-actions {
    justify-content: flex-end;
    flex-grow: 1;
}

.header-hamburger-button {
    display: none;
}

@media (max-width: 600px) {
    .header {
        height: 124px;
        padding: 16px 16px 0 16px;
        align-items: flex-start;
    }

    .header-actions {
        align-items: flex-start;
    }

    .header-hamburger-button {
        display: inherit;
        height: 40px;
        width: 40px;
        margin-left: 16px;
    }
}